# This is the example .env file for the backend application.
#
# Copy this file to backend/.env and adapt the settings as needed.
#
# The backend code loads the .env file from its current working
# directory, i.e., from where uvicorn was started.
#
# You can also set the env variables in your shell environment before/when running uvicorn,
# and they will take precedence over the values in this file.
#

DATABASE_USER=analytics_user
DATABASE_PASSWORD=personal_analytics_password
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=personal_analytics
DATABASE_URL=postgresql://analytics_user:personal_analytics_password@localhost:5432/personal_analytics